$color-text: #212529;
$color-background: #F7F9FA;
// $color-background: #f5f5f5;
$color-paper: #FFF;
$color-purple: #292d48;
$color-white: white;
$color-action: #1565c0;
$color-secondary-action:#eb3f34;
$color-secondary-background:#242938;
$color-secondary-dark: #1E2332;


@mixin section {
    background-color: $color-background;
    padding: 16px;

}

@mixin paper {
    background-color: $color-paper;
    padding: 16px;
    @include shadow-low;
    @include rounded;
}

@mixin transition-link {
    transition: border 300ms;
    transition-timing-function: ease-in;

}

@mixin shadow-low {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

@mixin rounded {
    border-radius: 4px;
}

@mixin shadow-deep {
    -webkit-box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3),
        0 0 15px rgba(0, 0, 0, 0.06);
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3),
        0 0 15px rgba(0, 0, 0, 0.06);
    -webkit-transition: all .5s ease-out;

}